# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# misc
# Ignore only the .env file in the server folder
/server/.env


npm-debug.log*
yarn-debug.log*
yarn-error.log*
